@model IEnumerable<SabadoMVX.Models.Persona>

@{
    ViewBag.Title = "Listado de personas";
}
    <div class="row">
        <div class="col-sm-12">
            <div>
                <h4>Listado de personas cargadas en la BD</h4>

            </div>
        </div>
    </div>
             
            <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            @*<th class="text-center"> Id</th>*@
                            <th class="text-center"> Nombre</th>
                            <th class="text-center"> Apellido</th>
                            <th class="text-center"> Telefono</th>
                            <th class="text-center"> Edad</th>
                            <th class="text-center"> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var persona in Model)
                        {
                        <tr class="text-center">
                            @*<td>@persona.Id</td>*@ 
                            <td>@persona.Nombre</td>
                            <td>@persona.Apellido</td>
                            <td>@persona.Telefono</td>
                            <td>@persona.Edad</td>
                            <td> <a href="@Url.Action("DatosPersona", "Persona", new {@idPersona = persona.Id })" class="btn btn-warning">Mostrar</a>
                                 <a href="@Url.Action("EliminarPersona", "Persona", new {@idPersona = persona.Id })" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

                        </div>
                    </div>
                


        

